name: Build and deploy Python app to Azure Web App - fastapi-trends-app

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read

    steps:
      - uses: actions/checkout@v4

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_29F637B299D34BB297A485080F9EDD62 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_6EF1261D75FF4E43BC3F949EEA99BE38 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_F2A33450D6704B0ABF09F62418693196 }}

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'fastapi-trends-app'
          slot-name: 'Production'
          startup-command: 'python -m uvicorn backend.main:app --host 0.0.0.0 --port 8000'
